{% extends 'base.html.twig' %}

{% block title %}New SampleFile{% endblock %}

{% block body %}
    <h1>Create new SampleFile</h1>

    {{ include('sample_file/_form.html.twig') }}

    <a href="{{ path('sample_file_index') }}">back to list</a>
{% endblock %}
