<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}" >
                    {#<i class="nav-icon icon-speedometer"></i>#}
                    <i class="fas fa-tachometer-alt"></i>
                    Dashboard
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('project_index') }}">
                    <i class="nav-icon fas fa-pencil-alt"></i> Project</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="{{ path('sample_index') }}">
                    <i class="nav-icon fas fa-atom"></i> Samples</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('sample_file_index') }}">
                    <i class="nav-icon fas fa-file"></i> Files</a>
            </li>


        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
