{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}

    <h1>home page</h1>

    <p>
        <a href="{{ path('user') }}">User</a>
    </p>
    This friendly message is coming from:
    <ul>
    </ul>
{% endblock %}
